<ion-view view-title="Nearby Results">
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..."
                        on-refresh="doRefresh()">
        </ion-refresher>
        <!--<div>Add Menu [All | Nearby]</div>-->
        <ion-list>
            <ion-item class="item-remove-animate item-thumbnail-left" collection-repeat="data in dataResult.businesses" type="item-text-wrap" href="#/tab/nearby-detail/{{ data.id }}">
                <img ng-src="{{ data.image_url }}">
                <h2>{{ data.name }} <br/></h2>
                <img src="{{ data.rating_img_url }}" />
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>

