<ion-view view-title="Nearby Results">

    <div class="bar bar-subheader nearby-menu">
        <div class="row">
            <div class="col col-20 text-align-center">All</div>
            <div class="col col-20 text-align-center">Nearby</div>
            <div class="col col-50">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search">
                </label>
            </div>
        </div>
    </div>

    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..."
                        on-refresh="doRefresh()">
        </ion-refresher>
        
        <ion-list class="nearby-list">
            <ion-item class="item-remove-animate item-thumbnail-left" collection-repeat="data in dataResult.businesses" type="item-text-wrap" href="#/tab/nearby-detail/{{ data.id }}">
                <img ng-src="{{ data.image_url }}">
                <h2>{{ data.name }} <br/></h2>
                <img src="{{ data.rating_img_url }}" />
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>

