<ion-tabs class="tabs-icon-top tabs-positive">

    <ion-tab title="Find Location" icon="ion-location" href="#/tab/dashboard">
        <ion-nav-view name="location-view"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Find Deals" icon="ion-ios-football" href="#/tab/deal-list">
        <ion-nav-view name="deal-view"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Find Coupons" icon="ion-ios-football" href="#/tab/coupon-list">
        <ion-nav-view name="coupon-view"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Contact" icon="ion-ios-world" ui-sref="tabs.contact">
        <ion-nav-view name="contact-view"></ion-nav-view>
    </ion-tab>

</ion-tabs>