<ion-view view-title="Yelp Shownearby">

    <ion-content>
        <div class="intro-logo text-align-center">
            <img src="../img/ionic.png" class="intro-logo">
        </div>

        <br />
        <div class="text-align-center">
            <a class="button button-large button-positive text-align-center" ng-click="getCurrentPosition()">
                Use Location
            </a>
        </div>

        <br /><br />
        <div class="row">
            <div class="col col-60 col-offset-10 text-align-center">
                <label class="item item-input">
                    <input type="text" placeholder="Enter Zip Code">
                </label>
            </div>
            <div class="col col-30 text-align-center">
                <a class="button button-positive" ui-sref="dashboard">
                    Use Location
                </a>
            </div>
        </div>


    </ion-content>
</ion-view>