/* Empty. Add your own CSS if you like */

/************************* Common *************************/
.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

/************************* PAGES *************************/
/*Intro*/
.intro-logo {
   text-align: center;
}
.intro-logo > img {
    width: 270px;
    height: 124px;
    margin: 15px;
}

/*Dashboard*/
.dashboard-icons-panel {
    margin: 10px;
}

.dashboard-icon {
    width: 80px;
    height: 80px;
}

/*Deal Detail*/
.deal-detail * {
    font: inherit;
    font-size: 14px;
}

.detail-amount p span {
    font-size: 22px;
    color: #90C652;
    font-weight: bold;
}
.deal-detail p strike {
    font-size: 22px;
    color: #808080;
}

.deal-detail h4 {
    color: #666;
}

.deal-detail ul li {
    color: #666;
}

.discount-row .col{
    border: 1px solid #e9e9e9;
    text-align: center;
    font-weight: 700;
}

.discount-row span{
    font-size: 11px;
    color: #808080;
}
.deal-detail a {
    color: #0185c6;
    text-decoration: none;
}
/*********************** CUSTOMIZE IONIC CSS ***************/

/* List View*/
.img-top > img {
    height: 200px;
    width: 100%;
}

.deal-list h2 {
   color: #666;
}

.deal-content p span {
    font-size: 18px;
    color: #90C652;
    font-weight: bold;
}
.deal-content p strike {
    font-size: 16px;
    color: #666;
}

.item h2 {
    white-space: normal !important;
}

.deal-menu {
    padding: 0px;
}

.deal-menu .col {
    padding: 0px;
}

.deal-menu .col:nth-child(1), .col:nth-child(2) {
    color: #90C652;
    font-weight: 700;
    padding-top: 5px;
} 

/*Buttons*/
.deal-list .button-balanced {
    background-image: linear-gradient(to bottom,#90C652 0,#61923b 100%);
    width: 50px;
}

.deal-detail .button-balanced {
    width: 60%;
    border-radius: 5px;
    background-image: linear-gradient(to bottom,#90C652 0,#61923b 100%) !important;
}

/*Input Types*/
.deal-menu .item-input {
    padding: 0px 0px 0px 10px;
}